@import "../../../main.scss";

body {
    background-color: $color-light;
}

#app-bar {
    background-color: $color-dark;
}
#title {
    margin: 0 auto;
}
#drawer {
    background-color: $color-light !important;
}

#list-item {
    padding: 1.5em 0 1.5em 2em;
}
